<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>
            Testing courier library
        </title>
    </head>

    <body>
        <script src="http://localhost:4000/dist/courier.js"></script>
    </body>
</html>